/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


body{
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  align-items: center;
}


.texxt{
    top: 50%;  
    margin: 0 auto;
    font-size: 140%;
    text-align: center;
  
}



::selection {
background: rgb(136, 136, 136);}

h1 {
    background: #000000;
    padding: 1rem 3rem;

    color:#fff;
    text-shadow:1px 1px #000000;
    text-align: center;
    filter: invert(100%);
  }


h2 {
    text-align: center;
    font-size: 180%;
}

