/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


body{
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  align-items: center;
}


.texxt{
    top: 50%;  
    margin: 0 auto;
    font-size: 140%;
    text-align: center;
  
}



::selection {
background: black;}

h1 {
    background: #1d1c1c;
    padding: 1rem 3rem;
    outline:5px solid #272727;
    color:#fff;
    text-shadow:1px 1px #000000;
    text-align: center;
  }

h2 {
    text-align: center;
    font-size: 180%;
}