.nav-item
{
  font-size: 185%;
  font-weight: 200;
}
.sizer {
  width: 70%;
 margin: auto;
   border: 3px solid orange;

}

.carre {

  width: 70%;
  height: 800px;
  margin: auto;
  border: 0px solid orange;
  background: #343A40 ;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #7289DA !important;
}

.embed-responsive-item{
  margin-left: 6%;
  margin-bottom: 3%;
  border: 3px solid orange
}
