.nav-item
{
  font-size: 27px;
  font-weight: 200;
}
.sizer {
  width: 70%;
 margin: auto;
   border: 3px solid orange;

}

.carre {

  width: 70%;
  height: 700px;
  margin: auto;
  border: 0px solid orange;
  background: #343A40 ;
}
